@tailwind base;
@tailwind components;
@tailwind utilities;

body { background-color: black; }
svg {
    height: 2em;
    width: 2em;
}
select {
    color: #000
}

.top-container {
    flex-direction: column;
    text-align: center;
    color: white;
}
/* kind of odd way of setting the height form sticky header library*/
.header, .header-section {
    height: 8vh;
    background: #000;
}
.header-icons > * {
    display: inline-block;
    text-align: right;
    padding: 12px;
    float: right;
}
.mint-graphic, 
.tv-intro, 
.vision, 
.founders, 
.roadmap, 
.gallery { color: white; margin: 0 5% 0 5%; }

.tv-intro { text-align: center; }

.header,
.tv-header, 
.tv-blurb, 
.gallery-row,
.vision,
.fndr-row,
.gallery-item { display: flex; }

.tv-text-header, 
.vis-blurb-header, 
.fndr-header, 
.rdmp-header { font-size: 80px; word-spacing: .9em; }

.logo, .header-icons {
    width: 50%;
    display: inline-block;
}

.logo {
    margin: -.5% auto;
    text-align: left;
}

.header > button {
    width: 50%;
    color: red;
    text-align: right;
}

.tv-header > span { width: 15% !important; }
.tv-logo-header { width: 15% }
.tv-text-header { width: 70%; }
.tv-text-blurb {
    font-size: 20px;
    word-spacing: 0.6em;
    padding: 0px 55px 0px 55px;
    width: 68%;
}
.gallery-row { margin: 34px 0 34px 0; }
.turtle-img-gallery-outer {
    width: 16%;
}
.turtle-img-gallery-inner {
    width: 22.666%;
}
.turtle-img-blurb { width: 16% !important; }
/* next images appear as span tags */
.vis-blurb { width: 60%; }
.vis-img { width: 40%; }
.vis-blurb-header > h1 { text-align: center; }
.vis-blurb-header > p { 
    font-size:26px; 
    word-spacing: .6em; 
    text-align: left;
    padding-left: 5%;
}

.fndr-header > h1 { 
    text-align: right; 
    padding-left: 60%;
    margin-top: -1em;
    margin-bottom: .4em;
}
.fndr-row {
    margin-bottom: 3%;
}
.fndr-text {
    width: 75%;
    position: relative;
}
.fndr-img {
    width: 25%;
}
.fndr-subheader {
    font-size: 55px;
    word-spacing: .4em;
    text-align: left;
}
.fndr-ul {
    text-align: left;
    font-size: 32px;
    padding: 34px 0 34px 21px;
    margin-left: 2%;
}
.fndr-ul > li::before {
    content: " - ";
    width: 50px;
} 
.fndr-ul > li {
    word-spacing: .6em;
}
.fndr-discord {
    font-size: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    word-spacing: 1em;
}

.rdmp-header > h1 {
    text-align: left;
}
.rdmp-list {
    text-align: left;
}
.rdmp-li-percent {
    width: 20%
}

.rdmp-li-blurb {
    width: 80%
}

.rdmp-list ul > li {
    display: flex;
    font-size: 40px;
    letter-spacing: .2em;
    margin: 3%;
    font-size: 24px;
}

.gallery-item > img, .attr-lines {
    width: 50%;
}

@media only screen and (max-width: 767px) {
    .hidden-mobile {
        display: none !important;
    }
    .mobile-top-margin-sm {
        margin-top: 23px !important;
    }
    .mobile-top-margin-lg {
        margin-top: 40px;
    }

    .logo { width: 25% }
    .header-icons { width: 75% }

    .header-icons > * {
        display: inline-block;
        text-align: right;
        padding: 5px;
        margin-bottom: 1em;
        float: right;
    }

    .header,
    .tv-header, 
    .tv-blurb, 
    .gallery-row,
    .vision,
    .fndr-row { display: block; }

    .tv-header > span { width: 100% !important; }
    .tv-logo-header { width: 100% }
    .tv-text-header, 
    .vis-blurb, 
    .fndr-header, 
    .rdmp-header {         
        width: 100%; 
        font-size: 40px; 
        word-spacing: 0em; 
    }
    .tv-text-blurb {
        font-size: 20px;
        word-spacing: 0.6em;
        padding: unset;
        width: 100%;
    }
    /* .tv-header { font-size: 40px !important;} */
    .gallery-row { margin: unset; }
    .turtle-img-gallery-outer {
        width: 50%;
        display: inline;
        padding: 5px
    }

    .vis-blurb-header > h1, .fndr-header > h1, .rdmp-header > h1  {
        padding: 0 55px 0 55px;
        font-size: 40px;
        text-align: center;
    }
    .vis-blurb-header > p {
        font-size: 21px;
        word-spacing: 0.3em;
        text-align: center;
        padding-left: unset;
    }
    
    .fndr-text, .fndr-img {
        width: 100%;
        padding: 13px;
    }
    .fndr-header > h1 {
        text-align: center;
        margin: unset !important;
    }
    .fndr-subheader {
        font-size: 21px;
        word-spacing: 0.3em;
        text-align: center;
    }
    .fndr-ul {
        text-align: center;
        font-size: 13px;
        padding: unset;
    }
    .fndr-discord {
        position: relative;
        bottom: 0;
        right: 0;
        font-size: 13px;
        padding: 5px;
    }
    /* .rdmp-list {
        text-align: right;
    } */
    .rdmp-li {
        text-align: left;
    }
    .rdmp-li-percent {
        width: 40%;
        height: 10%;
        float: left
    }
    .rdmp-li-blurb {
        width: 60%
    }
    .rdmp-list ul > li {
        font-size: 16px;
    }

    .gallery-item {
        /* padding: 8px; */
        display: block;
    }
    /* .gallery-item > img {
        padding: 13px;
    } */

    .attr-lines {
        text-align: right;
    }
}