@tailwind base;
@tailwind components;
@tailwind utilities;

body { background-color: black; }
svg {
    height: 2em;
    width: 2em;
}
select {
    color: #000
}
.hidden {
    display: none !important;
}
.white-divider {
    height: 0.25rem;
    background-color: white;
    border-radius: 10px;
    width: 40%;
}
.divider-left {
    margin: 5% 0% 5% 5%;
}
.divider-image {
    padding: 1.5%;
}
.divider-right {
    margin: 5% 5% 5% 0%;
}
.top-container {
    flex-direction: column;
    text-align: center;
    color: white;
}
/* kind of odd way of setting the height form sticky header library*/
.header, .header-section {
    height: 8vh;
    background: #000;
}
.header-icons > * {
    display: inline-block;
    text-align: right;
    padding: 12px;
    float: right;
}
.navburger {
    text-align:right;
}
.sliding-menu {
    height: 40vh;
    width: 20vh;
    float: right;
}
.tv-intro, 
.vision, 
.founders, 
.roadmap, 
.gallery { color: white; margin: 0 5% 0 5%; }

.tv-intro { text-align: center; }

.header,
.tv-header, 
.tv-blurb, 
.gallery-row,
.vision,
.fndr-row,
.gallery-item { display: flex; }

.tv-text-header, 
.vis-blurb-header, 
.fndr-header, 
.rdmp-header { font-size: 80px; padding: 0 4.8% 0 4.8%; }

.logo, .header-icons {
    width: 50%;
    display: inline-block;
}

.logo {
    margin: -.5% auto;
    text-align: left;
}

.header > button {
    width: 50%;
    color: red;
    text-align: right;
}

.tv-header > span { width: 15% !important; }
.tv-logo-header { width: 15% }
.tv-text-header { width: 70%; }
.tv-text-blurb {
    font-size: 20px;
    word-spacing: 0.4em;
    /* padding: 0px 55px 0px 55px; */
    width: 60%;
    text-align: justify;
}
.gallery-row { margin: .7% 4.2% 1.2% 4.2% }
.turtle-img-gallery-outer {
    width: 12.5%;
}
.turtle-img-gallery-inner {
    width: 12.5%;
}
.turtle-img-blurb { width: 20% !important; }
/* next images appear as span tags */
/* .vis-blurb { width: 60%; } */
/* .vis-img { width: 40%; } */
.vis-blurb-header, .fndr-header, .divider-header, .discord-divider {
    padding: 0 4.8% 0 4.8%;
    text-align: right;
}
.vis-blurb-header > p { 
    font-size:26px; 
    word-spacing: .6em; 
    text-align: right;
    width: 66.6666%;
    float: right;
}

.fndr-header, .discord-divider {
    display: flex;
    justify-content: right;
}
.fndr-header > h1 {
    margin-top: -5%;
    width: 60%;
}
/* .fndr-header > h1 { 
    text-align: right; 
    padding-left: 60%;
    margin-top: -1em;
    margin-bottom: .4em;
} */
.fndr-row {
    padding: 0 4.8% 0 4.8%;
    margin-bottom: 3%;
}
.fndr-text {
    width: 80%;
    margin-top: -1%;
    /* position: relative; */
}
.fndr-img {
    width: 20%;
}
.fndr-subheader {
    font-size: 40px;
    text-align: left;
}
.fndr-ul {
    text-align: left;
    font-size: 20px;
    /* padding: 34px 0 34px 21px;
    margin-left: 2%; */
}
.fndr-ul > li::before {
    content: " • ";
    width: 50px;
} 
.fndr-ul > li {
    word-spacing: .6em;
    padding-bottom: 2%;
}
.fndr-discord {
    /* font-size: 21px; */
    margin: -1.5% 0% 2% 1.7%;
    padding-left: 1%;
    width: 30%;
}

.rdmp-header > h1 {
    text-align: left;
}
.rdmp-list {
    text-align: left;
    padding: 0 4.8% 0 4.8%;
}
.rdmp-li-percent {
    width: 20%
}

.rdmp-li-blurb {
    width: 80%
}

.rdmp-list ul > li {
    display: flex;
    font-size: 40px;
    letter-spacing: .2em;
    margin: 3%;
    font-size: 24px;
}

.gallery-item > img, .attr-lines {
    width: 50%;
}

#officialLinks div {
    display: inline-block;
    width: 50%;
    margin: 13px auto;
    padding-left: 23.5%;
}

@media only screen and (max-width: 900px) {
    .divider-image {
        margin-top: -4.5%;
    }
    .hidden-mobile {
        display: none !important;
    }
    .hidden {
        display: block !important;
    }
    .mobile-top-margin-sm {
        margin-top: 23px !important;
    }
    .mobile-top-margin-lg {
        margin-top: 40px;
    }
    .founders, 
    .roadmap, 
    .gallery { margin: unset !important;}

    .logo { width: 25% }
    .header-icons { width: 75% }

    .header-icons > * {
        display: inline-block;
        text-align: right;
        padding: 5px;
        margin-bottom: 1em;
        float: right;
    }

    .header,
    .tv-header, 
    .tv-blurb, 
    .gallery-row,
    .vision { display: block; }

    .tv-header > span { width: 100% !important; }
    .tv-logo-header { display: none; }

    .tv-text-header, 
    .vis-blurb, 
    .vis-blurb-header,
    .fndr-header, 
    .rdmp-header {         
        width: 100%; 
        font-size: 40px; 
        word-spacing: 0em; 
    }

    .tv-text-blurb, .vis-blurb-header > p {
        font-size: 18px;
        word-spacing: unset;
        padding: unset;
        width: 100%;
        text-align: justify;
    }
    .tv-header > span {
        display: none;
    }
    /* .tv-header { font-size: 40px !important;} */
    .gallery-row { margin: unset; }
    .turtle-img-gallery-outer {
        width: 50%;
        display: inline;
        padding: 5px
    }

    .vis-blurb-header > h1, .fndr-header > h1, .rdmp-header > h1  {
        padding: 0 55px 0 55px;
        font-size: 39px;
        text-align: center;
    }
    .fndr-header > h1 {
        width: 100%
    }
    .fndr-row {
        flex-direction: column-reverse;
    }
    .fndr-text, .fndr-img {
        width: 100%;
    }
    .fndr-text {
        margin: unset;
        padding: 0 4.8% 0 4.8%;
    }
    .fndr-subheader {
        font-size: 22px;
        text-align: center;
    }
    .fndr-ul {
        text-align: center;
        font-size: 18px;
    }
    .fndr-ul > li {
        word-spacing: unset;
        padding: unset;
    }
    .discord-divider {
        display: block;
        font-size: 16px;
        text-align: center;
    }
    /*
    .fndr-text {
        position: absolute;
        margin-top: 54vh;
    }
    .fndr-discord {
        position: relative;
        bottom: 0;
        right: 0;
        font-size: 13px;
        padding: 5px;
        word-spacing: unset;
        text-align: right;    
    } */
    /* .rdmp-list {
        text-align: right;
    } */
    .rdmp-li {
        text-align: left;
    }
    .rdmp-li-percent {
        width: 40%;
        height: 10%;
        float: left
    }
    .rdmp-li-blurb {
        width: 60%
    }
    .rdmp-list ul > li {
        font-size: 16px;
    }

    .gallery-item {
        /* padding: 8px; */
        display: block;
    }
    /* .gallery-item > img {
        padding: 13px;
    } */

    .attr-lines {
        text-align: right;
    }

    #officialLinks div {
        padding-left: 20%;
    }
}