@tailwind base;
/* @tailwind components;
@tailwind utilities; */

#minter {
    font-size: 60% !important;
}

body { 
    background-color: black; 
    color: white;
}

button {
    padding: 8px;
    margin: 5px 5px;
    color: red;
    background-color: white !important;
}

svg {
    height: 2em;
    width: 2em;
    margin-left: 8px;
}
select {
    color: #000
}
.wallet-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hidden {
    display: none !important;
}
.white-divider {
    height: 0.25rem;
    background-color: white;
    border-radius: 10px/50%;
    width: 40%;
}
.divider-left {
    margin: 5% 0% 5% 5%;
}
.divider-image {
    padding: 1.5%;
}
.divider-right {
    margin: 5% 5% 5% 0%;
}
.top-container {
    flex-direction: column;
    text-align: center;
    color: white;
}
.nav-wrapper {
    width: 100%;
    background-color: black;
    z-index: 9998;
}
.brand-logo {
    top: -18px !important;
    left: -62px !important;
    bottom: 18px !important;
    padding: 15px !important;
}
/* kind of odd way of setting the height form sticky header library*/
.header-section {
    height: 8vh;
    background: #000;
}

.navburger {
    text-align:right;
}
.sliding-menu {
    height: 40vh;
    width: 20vh;
    float: right;
}
.hero,
.tv-intro, 
.vision, 
.founders, 
.roadmap, 
.gallery,
.vis-blurb-row,
.admin { color: white; margin: 0 5% 0 5%; }

.header,
.tv-blurb, 
.gallery-row,
.vision,
.fndr-row,
.gallery-item,
.tv-text-header,
.vis-blurb-row,
.rdmp-header,
.gallery,
.admin,
.minting-stage { display: flex; }

.tv-text-header, .rdmp-header {
    align-items: center;
    justify-content: center;
}
.tv-header{ display: block } 

.tv-text-header, 
.vis-blurb-header, 
.fndr-header, 
.rdmp-header,
.minter-image { font-size: 80px; padding: 0 4.8% 0 4.8%; }
.logo {
    margin: -.5% auto;
    text-align: left;
}
.header > button {
    width: 50%;
    color: red;
    text-align: right;
}
.tv-text-header > h1, 
.vis-blurb-header > h1,
.fndr-header > h1,
.rdmp-header > h1,
.minter-image > h1,
.fndr-subheader,
.gallery-directive
{ 
    font-weight: 800;
    font-style:italic;
}
.loading-overlay {
    background-color: rgba(0,0,0,.8);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9000;
}
.loading-overlay > span {
    position: absolute !important;
    left: 15%;
    right: 15%;
    top: 10%;
    /* text-align: center; */
}
.loading-overlay > h1 {
    position: absolute !important;
    left: 15%;
    right: 15%;
    top: 10%;
    font-weight: 800;
    font-style:italic;
    font-size: 40px;
    color: black;
    text-align: center;
}
.gallery-directive
{ 
    font-weight: 800;
    font-style:italic;
}
.gallery-directive {
    font-size: 62px;
    /* margin: 5%; */
}
.tv-text-header > h1 {
    width: 80%
}
.rdmp-header > h1 {
    width: 60%
}
.tv-text-blurb {
    font-size: 20px;
    word-spacing: 0.4em;
    width: 60%;
    text-align: justify;
}
.gallery-row { margin: .7% 4.2% 1.2% 4.2% }
.turtle-img-gallery-outer {
    width: 12.5%;
}
.turtle-img-gallery-inner {
    width: 12.5%;
}
.turtle-img-blurb { width: 20% !important; }

.vision {
    margin-top: 3%
}
.vis-blurb-header, .fndr-header, .divider-header, .discord-divider {
    padding: 0 4.8% 0 4.8%;
    text-align: right;
}
.vis-blurb-img {
    width: 40%;
    padding-right: 1%;
}
.vis-blurb-text {
    padding-left: 2%;
}
.vis-blurb-text { 
    font-size:20px; 
    word-spacing: .6em; 
    text-align: justify;
    width: 60%;
    float: right;
}

.fndr-header, .discord-divider {
    display: flex;
    justify-content: right;
}
.fndr-header > h1 {
    margin-top: -5%;
    width: 60%;
}
.fndr-row {
    padding: 0 4.8% 0 4.8%;
    margin-bottom: 3%;
}
.fndr-text {
    width: 80%;
    margin-top: -1%;
}
.fndr-img {
    width: 20%;
}
.fndr-subheader {
    font-size: 40px;
    text-align: left;
}
.fndr-ul {
    text-align: left;
    font-size: 20px;
    padding: 21px;
}
.fndr-ul > li::before {
    content: " • ";
    width: 50px;
} 
.fndr-ul > li {
    word-spacing: .6em;
    padding-bottom: 2%;
}
.fndr-discord {
    margin: -1.5% 0% 2% 1.7%;
    padding-left: 1%;
    width: 30%;
}

.rdmp-header > h1 {
    text-align: left;
}
.rdmp-list {
    text-align: left;
    padding: 0 4.8% 0 4.8%;
}
.rdmp-li-percent {
    width: 20%
}

.rdmp-li-blurb {
    width: 80%
}

.rdmp-list ul > li {
    display: flex;
    font-size: 40px;
    letter-spacing: .2em;
    margin: 3%;
    font-size: 24px;
}

.attr-lines {
    width: 50%;
}

.footer {
    color: white !important;
}

.copyright {
    text-align: center;
    margin: 3% auto;
}

#officialLinks div {
    display: inline-block;
    width: 33.333%;
    margin: 13px auto;
    padding-left: 15.5%;
}

.filter-selects-wrapper {
    width: 25%;
}

.iscroll-wrapper {
    width: 100%;
}

.gallery-items-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2%;
}

.gallery-item {
    display: block !important;
    text-align: center;
    padding-left: 2%;
}

.clear-filters {
    display: flex;
    margin: 15px;
    background-color: white;
}

.clear-filters > button {
    color: black;
    font-weight: 800;
    font-style: "italic";
    font-size: 23px;
}

.minter form {
    color: black;
}

.admin > * {
    margin: 13px 13px;
}
.admin-btns {
    display: flex;
    flex-direction: column;
}
.admin-lists > form {
    display: flex;
    flex-direction: column;
}

form > input {
    padding: 5px;
    margin: 8px auto;
    color: pink;
    width: 500%;
}

.minting-stage {
    padding: 13px;
    margin: 13px;
    justify-content: center;
}

@media only screen and (max-width: 1220px) {
    .tv-text-header, 
    .vis-blurb-header, 
    .fndr-header, 
    .rdmp-header { font-size: 55px !important; }
}

@media only screen and (max-width: 900px) {
    .divider-image {
        margin-top: -4.5%;
    }
    .hidden-mobile {
        display: none !important;
    }
    .hidden {
        display: block !important;
    }
    .mobile-top-margin-sm {
        margin-top: 23px !important;
    }
    .mobile-top-margin-lg {
        margin-top: 40px;
    }
    .founders, 
    .roadmap, 
    .gallery { margin: unset !important;}

    .logo { width: 25% }
    .header-icons { width: 75% }

    .header-icons > * {
        display: inline-block;
        text-align: right;
        padding: 5px;
        margin-bottom: 1em;
        float: right;
    }

    .header,
    .tv-header, 
    .tv-blurb, 
    .gallery-row,
    .vision { display: block; }

    .tv-header > span { width: 100% !important; }
    .tv-logo-header { display: none; }

    .tv-text-header, 
    .vis-blurb, 
    .vis-blurb-header,
    .fndr-header, 
    .rdmp-header {         
        width: 100%; 
        font-size: 35px !important; 
        word-spacing: 0em; 
    }

    .tv-text-blurb, .vis-blurb-text {
        font-size: 18px;
        word-spacing: unset;
        padding: unset;
        width: 100%;
        text-align: justify;
    }
    .tv-header > span {
        display: none;
    }
    /* .tv-header { font-size: 40px !important;} */
    .gallery-row { margin: unset; }
    .turtle-img-gallery-outer {
        width: 50%;
        display: inline;
        padding: 5px
    }

    .vis-blurb-header > h1, .fndr-header > h1, .rdmp-header > h1  {
        padding: 0 55px 0 55px;
        font-size: 39px;
        text-align: center;
    }
    .fndr-header > h1 {
        width: 100%
    }
    .fndr-row {
        flex-direction: column-reverse;
    }
    .fndr-text, .fndr-img {
        width: 100%;
    }
    .fndr-text {
        margin: unset;
        padding: 0 4.8% 0 4.8%;
    }
    .fndr-subheader {
        font-size: 22px;
        text-align: center;
    }
    .fndr-ul {
        padding: unset;
        text-align: center;
        font-size: 18px;
    }
    .fndr-ul > li {
        word-spacing: unset;
        padding: unset;
    }
    .discord-divider {
        display: block;
        font-size: 16px;
        text-align: center;
    }
    .rdmp-li {
        text-align: left;
    }
    .rdmp-li-percent {
        width: 40%;
        height: 10%;
        float: left
    }
    .rdmp-li-blurb {
        width: 60%
    }
    .rdmp-list ul > li {
        font-size: 16px;
    }

    .gallery-item {
        /* padding: 8px; */
        display: block;
    }

    .gallery {
        display: block;
    }
    .gallery > * {
        width: 100%;
    }
    .gallery-directive {
        font-size: 28px;
    }
    /* .gallery-item > img {
        padding: 13px;
    } */

    .attr-lines {
        text-align: right;
    }

    #officialLinks div {
        padding-left: 12.5%;
    }
}

@media only screen and (max-width: 767px) { 
    .tv-text-header > h1 {
        width: 100% !important;
    }
    .rdmp-header > h1 {
        width: 100%
    }
    .minter-image > h1 {
        font-size: 24px;
    }
    /* .rdmp-li::after {
        font-size: 79px;
        padding: 1.5%;
        margin: -2% 1% 0% 1%;
    } */
}